In [1]:
import pandas as pd

# CSV file is being read first

df = pd.read_csv("../../Step 1 Cleaning with SQL/hvac_clean.csv") 

df.head()

,timestamp,t_return,t_supply,t_outdoor,rh_return,rh_supply,rh_outdoor,sp_return,t_saturation,power_kw,energy_kwh,temp_error,delta_supply_return,system_state,anomaly_flag
0,2019-10-15 12:30:00,17.059999,21.475000,18.5,15.480000,16.299999,82.759995,61.449997,94.0,8.0,2.904,-44.389998,-4.415001,heating,0
1,2019-10-15 12:45:00,17.119999,21.504999,18.5,15.559999,16.299999,82.820000,61.480000,88.0,8.0,2.952,-44.360001,-4.385000,heating,0
2,2019-10-15 13:00:00,17.109999,21.525000,18.5,15.580000,16.299999,83.099998,61.660000,88.0,7.0,2.964,-44.550001,-4.415001,heating,0
3,2019-10-15 13:15:00,17.190001,21.570000,18.5,15.639999,16.299999,82.970001,61.609997,88.0,7.0,2.976,-44.419996,-4.379999,heating,0
4,2019-10-15 13:30:00,17.190001,21.615000,18.5,15.639999,16.299999,83.180000,61.709999,91.0,7.0,2.976,-44.519998,-4.424999,heating,0

In [3]:
# This block performs an initial data audit by checking the datasetâ€™s size, class distribution, 
# and presence of missing values to ensure the data is clean and ready for modeling.

df.shape
df['anomaly_flag'].value_counts()
df.isna().sum()

timestamp              0
t_return               0
t_supply               0
t_outdoor              0
rh_return              0
rh_supply              0
rh_outdoor             0
sp_return              0
t_saturation           0
power_kw               0
energy_kwh             0
temp_error             0
delta_supply_return    0
system_state           0
anomaly_flag           0
dtype: int64

In [4]:
# Timestamp is made sure it is parsed correctly
df['timestamp'] = pd.to_datetime(df['timestamp'])

# Sorting by timestamp
df = df.sort_values('timestamp')

# Calculating split indices
n = len(df)
train_end = int(0.70 * n)
val_end = int(0.85 * n)

# Creating time-based splits
train_df = df[:train_end]
val_df   = df[train_end:val_end]
test_df  = df[val_end:]

# Printing shapes
len(train_df), len(val_df), len(test_df)

(23721, 5083, 5084)